{% extends 'newEmail.html.twig' %}
{% block body %}
    <h1>Une nouvelle série : {{ program.title }} a été crée !</h1>
    <p>Hey, la série {{ program.title }} a été créé sur Wild Series !</p>
    <p>Synopsis : {{ program.summary }}</p>
{% endblock %}